<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Horizon</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>
    <div class="bg-transparent text-light bodyBox rounded">
        <div class="navBox rounded-top d-flex p-3 align-items-center justify-content-between">
            <div>
                <a class="" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/images/external-content.duckduckgo.com.png" style="width: 4em;" alt="Home" />
                </a>
            </div>
            <div>
                @using (Html.BeginForm("ExtendedWeather", "Home", FormMethod.Post))
                {
                    @*<span class="pr-1">Location:</span>@Html.TextBox("City")*@
                    <span class="pr-1">Location:</span>@*@Html.Label("HEY")*@ @Html.TextBox("City" ,null, new { @placeholder = "Birmingham,AL,US"})
                    <input type="submit" class="btn-dark rounded" value="Submit" />
                }
            </div>
        </div>
        <div class="rounded">
            <main role="main" class="text-light">
                @RenderBody()
            </main>
        </div>
        <div class="position-relative">
            <p class="position-absolute text-light font-weight-lighter font-italic h2" style="z-index: 20; left: 33%; top: 18%; font-size: 4vw;">What's on your</p>
            <img class="rounded-bottom" src="~/images/horizon-svg-17.png" style="width: 100%; z-index: 10;" />
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Added FontAwesome for fun icons -->
    <script src="https://kit.fontawesome.com/5f597d47dc.js" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>


<!--<div class="row">
    <partial name="_Menu" />-->
<!-- Testing partials -->
<!--</div>-->
@*<li class="nav-item"><a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="ExtendedWeather">Extended Forecast</a></li>*@
