@model Horizon.Models.ExtendedWeather

@{
    ViewBag.Title = "Forecast";
    var data = ViewBag.Data;
}

<title>Weather</title>
<h1>5 Day Forecast for <span>@data[0].CityName, @data[0].Country</span></h1>

<div>
    <table class="table">
        <tr>
            <th><i class="fas fa-temperature-low" style="font-size: 1.5em; color: red;" /></th>
            <th><i class="fas fa-temperature-high" style="font-size: 1.5em; color: blue;" /></th>
            <th><i class="fas fa-cloud-sun-rain" style="font-size: 1.5em; color: gray;"></i></th>
            <th>What's<i class="fas fa-arrow-up" style="padding-left: 20px;" /></th>
            <th>Wind</th>
            <th>Time of Day</th>
            <th>Precipitation Chance</th>
        </tr>
        @foreach (var item in data)
        {
            <tr>
                <td>@item.TempMin<span>&deg;</span>F</td> <!-- &deg; same as &#176;-->
                <td>@item.TempMax<span>&#176;</span>F</td>
                <td><img src="@item.Wicon" alt="Alternate Text" /></td>
                <td>@item.Description</td>
                <td>@item.Speed<span>Mph</span> by @item.CardinalDirection @@ @item.WindDirection<span>&deg;</span></td>
                <td>@Convert.ToDateTime(item.TimeStamp)</td> <!-- Convert timestamp to DateTime for legibility -->
                @*<td>@item.TimeStamp</td>*@
                <td>@item.Speed %</td>
            </tr>
        }
    </table>
</div>
