@model ExtendedWeather

<title>Weather</title>
<h1>Weather</h1>

@*<div>
    <table class="table">
        <tr>
            <th>City</th>
            <th><i class="fas fa-temperature-low" style="font-size: 1.5em; color: red;"/></th>
            <th><i class="fas fa-temperature-high" style="font-size: 1.5em; color: blue;"/></th>
            <th><i class="fas fa-cloud-sun-rain" style="font-size: 1.5em; color: gray;"></i></th>
            <th>What's<i class="fas fa-arrow-up" style="padding-left: 20px;"/></th>
            <th></th>
        </tr>
        <tr>
            <td>@Model.CityName</td>
            <td>@Model.TempMin</td>
            <td>@Model.TempMax</td>
            <td><img src="@Model.Wicon" alt="Alternate Text" /></td>
            <td>@Model.Description</td>
            <td>@Model.TimeStamp</td>
        </tr>
    </table>
</div>*@
