@model Weather

<title>Weather</title>
<h1>Weather</h1>

<div>
    <p>@Model.CityName</p>
    <p>@Model.Temp</p>
    <p><i class="fas fa-temperature-low" style="font-size: 1.5em; color: red; padding-right: 10px;"></i>@Model.TempMin</p>
    <p><i class="fas fa-temperature-high" style="font-size: 1.5em; color: blue; padding-right: 10px;"></i>@Model.TempMax</p>
    <img src="@Model.Wicon" alt="Alternate Text" />
    <p>@Model.Description</p>
</div>
