@model Weather
@{
    ViewData["Title"] = "Weather";
}

<h1>Weather</h1>
<p>Message:  @Model.Message</p>
<p>City Name:  @Model.CityName</p>
<p>Current Temp: @Model.Temp</p>
<p>Day 1 Temp Min: @Model.TempMin</p>
<p>Day 1 Temp Max: @Model.TempMax</p>
<p>Day 1 Humidity: @Model.Humidity</p>
